.todays-classes {
  margin-top: 20px;
  padding: 0 20px;

  > h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .classes {
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;

    .class {
      cursor: pointer;
      text-decoration: none;
      flex-basis: 200px;
      flex-grow: 1;
      border: 1px solid rgba(0, 0, 0, 0.17);
      border-radius: 5px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        > .logo_wrapper {
          .logo {
            background-color: #63F64B;
          }
        }
      }

      &.deactivated {
        cursor: not-allowed;

        > .logo_wrapper {
          > .logo {
            background-color: #B8B8B8;
          }
        }
      }

      > .logo_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        > .logo {
          margin-right: 15px;
          padding: 10px;
          border-radius: 50%;
          background-color: #96BCE8;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 40px;
          height: 40px;

          h1 {
            font-weight: 500;
            font-size: 24px;
          }
        }

        > h1 {
          font-weight: normal;
          font-size: 24px;
          margin-right: 40px;
          color: black;
        }
      }

      .right {
        img {
          width: 20px;
          height: 20px;
        }
      }

      p {
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}